$primary: (
  100: #fffdf5,
  200: #fffbe5,
  300: #e8e3da,
  400: #6e6b67,
);

$accent: (
  100: #e0efde,
  200: #569573,
  300: #406c55,
);

$neutral: (
  "white": #fff,
  100: #f8f9fa,
  200: #dee2e6,
  300: #adb5bd,
  400: #6c757d,
  500: #343a40,
  600: #212529,
);

$info: #4a72ff;
$success: #2cc585;
$warning: #ffb054;
$danger: #d65f5f;
