$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  12: $spacer * 3,
  15: $spacer * 3.75,
  18: $spacer * 4.5,
  20: $spacer * 5,
);

$body-padding-block-start: 3.75rem;
$body-padding-block-start-lg: 7.75rem;
