@use "sass:map";
@use "colors" as clr;
@use "spacing" as sp;

$gray-100: map.get(clr.$neutral, 100);
$gray-200: map.get(clr.$neutral, 200);
$gray-300: map.get(clr.$neutral, 300);
$gray-400: map.get(clr.$neutral, 400);
$gray-500: map.get(clr.$neutral, 500);
$gray-600: map.get(clr.$neutral, 600);

$body-color: map.get(clr.$neutral, 500);

$primary: map.get(clr.$accent, 200);
$secondary: map.get(clr.$neutral, 400);
$tertiary: map.get(clr.$neutral, 300);
$success: clr.$success;
$honeydew: map.get(clr.$accent, 100);
$info: clr.$info;
$warning: clr.$warning;
$danger: clr.$danger;
$light: map.get(clr.$neutral, 200);
$smoke: map.get(clr.$neutral, 100);
$milk: map.get(clr.$primary, 100);
$latte: map.get(clr.$primary, 200);
$coffee: map.get(clr.$primary, 300);
$gray: map.get(clr.$primary, 400);
$dark: map.get(clr.$neutral, 500);
$gunmetal: map.get(clr.$neutral, 600);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "honeydew": $honeydew,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "smoke": $smoke,
  "milk": $milk,
  "latte": $latte,
  "coffee": $coffee,
  "gray": $gray,
  "dark": $dark,
  "gunmetal": $gunmetal,
);

$font-family-sans-serif: "Newsreader", "Noto Serif TC", system-ui, -apple-system,
  "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";

$box-shadow: 0 0.125rem 0.5rem 0 rgba(map.get(clr.$primary, 400), 0.08);

$spacers: sp.$spacers;

$navbar-light-color: map.get(clr.$neutral, 500);
$navbar-light-toggler-icon-bg: url("/src/assets/images/icons/hamburger.svg");

$line-height-sm: 1.2;

$focus-ring-width: 0;
$input-padding-y: 0;
$input-padding-x: 0;
$input-border-width: 0;
$input-group-addon-color: map.get(clr.$neutral, 300);
$input-group-addon-bg: map.get(clr.$neutral, "white");
$input-placeholder-color: map.get(clr.$neutral, 300);

$enable-negative-margins: true;

$form-feedback-icon-valid: "";
$form-feedback-icon-invalid: "";
