@use "../abstract/functions" as fn;
@use "../abstract/spacing" as sp;

.call-to-action {
  overflow: hidden;

  ul {
    list-style: none;

    > li {
      &::before {
        content: url("/src/assets/images/icons/check.svg");
        inline-size: fn.rem(24);
        block-size: fn.rem(24);
        margin-inline-end: map-get(sp.$spacers, 3);
      }
    }
  }

  &--cartoons {
    position: relative;

    &::before {
      position: absolute;
      inset-inline-start: map-get(sp.$spacers, 2);
      inset-block-end: -1 * map-get(sp.$spacers, 2);
      inline-size: fn.rem(217);
      block-size: fn.rem(81);
      background-image: url("/src/assets/images/cartoons/cartoon-1.png");

      @include media-breakpoint-up(lg) {
        content: "";
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset-inline-end: -1 * map-get(sp.$spacers, 12);
      inset-block-end: -1 * map-get(sp.$spacers, 3);
      inline-size: fn.rem(160);
      block-size: fn.rem(104);
      background-image: url("/src/assets/images/cartoons/cartoon-2-sm.png");

      @include media-breakpoint-up(lg) {
        background-image: url("/src/assets/images/cartoons/cartoon-2.png");
        inset-inline-end: -1 * map-get(sp.$spacers, 8);
        inset-block-end: -1 * map-get(sp.$spacers, 2);
        inline-size: fn.rem(300);
        block-size: fn.rem(196);
      }
    }
  }
}
